/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.testing
.env.backup
.phpunit.result.cache
.phpstorm.meta.php
_ide_helper.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.nova
/.vscode
/public/css/app.css
/public/js/app.js
composer.phar
/.env.testing
/auth.json
