[submodule "sql/mysqldump-php"]
	path = sql/mysqldump-php
	url = https://github.com/ifsnop/mysqldump-php
[submodule "sql/SQLBackup"]
	path = sql/SQLBackup
	url = https://github.com/lu-kors/SQLBackup.git
[submodule "lib/external_libraries/phpmailer"]
	path = lib/external_libraries/phpmailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "achievement_system_decentral"]
	path = achievement_system_decentral
	url = https://gitlab.tu-ilmenau.de/StuRA/ReferatIT/achievement_system_decentral
