php_flag display_errors 1
php_value max_input_vars 100000

#
# change may upload file size
# change this value in php.ini
#
# or in nginx:
#   include fastcgi_params;
#   fastcgi_param PHP_VALUE "upload_max_filesize = 20M \n post_max_size=41M";
#
php_value upload_max_filesize 20M