# Could be an example config for nginx server for localhost and FUI subfolder


        location / {
                index index.php;
                try_files $uri $uri/ index.html =418;
        }

        location /FUI {
                # First attempt to serve request as file, then
                # as directory, then fall back to displaying a 404.
                index index.php;
                try_files $uri $uri/ @FUI;
        }

        #every url not found goes directly to index.php and everything after (.FUI) in URL to PATH_INFO
        # $document_root is /var/www/html/ in the following
        location @FUI {
                include fastcgi_params;
                fastcgi_param SCRIPT_FILENAME $document_root/FUI/index.php;
                #https://nginx.org/en/docs/http/ngx_http_fastcgi_module.html#fastcgi_split_path_info
                fastcgi_split_path_info ^(.FUI)(.*)$;
                fastcgi_param PATH_INFO $fastcgi_path_info;
                fastcgi_pass unix:/run/php/php7.0-fpm.sock;
        }

        # pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
        #
        location ~ \.php {
                include snippets/fastcgi-php.conf;
                # With php7.0-cgi alone:
                # fastcgi_pass 127.0.0.1:9000;
                # With php7.0-fpm:
                fastcgi_pass unix:/run/php/php7.0-fpm.sock;
        }

        # deny access to .htaccess files, if Apache's document root
        # concurs with nginx's one
        #
        location ~ /\.ht {
                deny all;
        }

