includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/
        - database/
#        - legacy/

    # Level 10 is the highest level
    level: 1

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
    excludePaths:
#         - legacy/runtime
#        - ./*/*/FileToBeExcluded.php
