
body {
    padding-top: 80px;
}

td .content
{
	border: none;
}

tr [data-status="0"]{
	background: red;
}

pre {
  white-space: pre-wrap;
  word-break: normal;
}

.dynamic-table > tbody > tr.new-table-row > td.delete-row a.delete-row {
  display: none;
}

