@media not print {
    body {
        padding-top: 80px;
    }
}

td .content {
    border: none;
}

tr [data-status="0"] {
    background: red;
}

pre {
    white-space: pre-wrap;
    word-break: normal;
}

.dynamic-table > tbody > tr.new-table-row > td.delete-row a.delete-row {
    display: none;
}

.dynamic-table-readonly.dynamic-table > tbody > tr > td.delete-row a.delete-row {
    display: none;
}

.dynamic-table-readonly.dynamic-table > tbody > tr.new-table-row {
    display: none;
}

/* Adjust feedback icon position */

.select-picker-container.hasFeedback {
    padding-right: 20px;
    position: relative;
}

.select-picker-container .form-control-feedback {
    right: -15px;
    position: absolute;
}

/* green border for bootstrap-select */

.form-group.has-success > .select-picker-container > .btn-group.bootstrap-select > .btn.btn-default {
    border-color: #3c763d;
}

.form-group.has-error > .select-picker-container > .btn-group.bootstrap-select > .btn.btn-default {
    border-color: #a94442;
}

/* invref */

table.invref > tbody > tr.invref-template {
    display: none;
}

.fixed-width-table {
    table-layout: fixed;
}

.visible-inline-block {
    display: inline-block;
}

.visible-inline {
    display: inline;
}

@media print {
    .no-print {
        display: none;
    }

    a[href].link-shows-url::after {
        display: none;
        content: "";
    }
}

hr.blackhr {
    border-color: black;
}

.tree-view {
    display: none;
}

.tree-view.tree-view-visible,
.tree-view.tree-view-wip {
    display: initial;
}

.input-daterange div.form-control {
    border-radius: 4px !important;
}

.custom-combobox ul.dropdown-menu {
    right: 0px;
}

.custom-combobox ul.dropdown-menu li a.opt {
    padding-left: 2.25em;
}

.custom-combobox ul.dropdown-menu li a {
    cursor: pointer;
}

.caret.mycaret-up {
    border: 4px solid transparent;
    border-bottom: 4px solid;
    margin-bottom: 4px;
}

.caret.mycaret-right {
    border: 4px solid transparent;
    border-left: 4px solid;
}

.caret.mycaret-down {
    border: 4px solid transparent;
    border-top: 4px solid;
}

.caret.mycaret-left {
    border: 4px solid transparent;
    border-right: 4px solid;
}

.table.small-table th, .table.small-table td {
    font-size: 8px;
}

.form-inline select.selectpicker option {
    width: .5px !important;
}

.form-inline .bootstrap-select.form-control:not([class*="col-"]),
.form-inline .bootstrap-select > .dropdown-toggle,
.form-inline .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    width: initial !important;
}

.align-top {
    vertical-align: top;
}

.glyphicon.align-top {
    margin-top: 1px;
}

#editantragpartiell input:not([type="hidden"]):not([type="submit"]):not([type="reset"]):not([type="button"]),
#editantragpartiell textarea,
#editantragpartiell select {
    border-color: #ff80ff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);
    padding-left: 26px;
}

#editantragpartiell .form-grp {
    position: relative;
}

#editantragpartiell .form-grp::after {
    content: "\f040";
    font-family: FontAwesome;
    z-index: 100;
    position: absolute;
    left: 10px;
    top: 32px;
}

a.btn.disabled {
    pointer-events: initial; /* fixes cursor on Firefox */
}

td.hide-column-manual,
td.hide-column-manual > *,
th.hide-column-manual,
th.hide-column-manual > * {
    display: none !important;
}

.dynamic-table-readonly > * > tr > *.row-number,
.dynamic-table-readonly > * > tr > *.delete-row,
.dynamic-table > * > tr > *.row-number,
.dynamic-table > * > tr > *.delete-row {
    width: 15px;
}

input[readonly="readonly"] ~ .dropdown-menu {
    display: none;
}

input[readonly="readonly"] ~ .dropdown-toggle .caret {
    display: none !important;
}

.form-control.signbox {
    height: 3cm;
}

.expand-toggle-expand, .expand-toggle-compress {
    cursor: pointer;
}

.no-form-grp > .well {
    margin-top: 5px;
}

.dynamic-table-cell[data-formitemtype="otherForm"] > .form-group {
    overflow: auto;
}

.dynamic-table-cell[data-formitemtype="otherForm"] > .form-group > .input-group > input {
    min-width: 4em;
}

.input-group.input-group-static .input-group-addon {
    border: none;
    background-color: transparent;
    font-weight: inherit;
}

.radio > span.glyphicon {
    width: 10px;
}

.radio > span.glyphicon + label {
    width: calc(100% - 10px);
}

a.disabled-option span {
    text-decoration: line-through;
}

.d-inline-block {
    display: inline-block;
}

.select-on-click {
    cursor: pointer;
}

#server-message-content pre {
    overflow: auto;
    max-width: 70vw;
    max-height: 50vh;
}

.nowrap {
    white-space: nowrap;
}

.text-white {
    color: white !important;
}

.navbar-fixed-right {
    position: fixed;
    right: 30px;
    top: 30%;
    float: right;
    text-align: right;
}

.panel > .panel-heading[data-toggle=collapse] {
    cursor: pointer;
}

.panel > .empty.panel-heading[data-toggle=collapse] {
    cursor: default;
}

.panel.panel-default i.fa-togglebox::before {
    /* minus */
    content: "\f147";
    margin-right: 85px;
    color: black;
}

.panel.panel-default > .collapsed i.fa-togglebox::before {
    /* plus */
    content: "\f196";
    margin-right: 85px;
    color: black;
}

.panel.panel-default > .empty.collapsed i.fa-togglebox::before {
    /* falls leer */
    color: transparent;
    cursor: default;
}


.panel-link {
    position: absolute;
    margin-left: 35px;
    margin-top: 11px;
}

.project-state-label {
    display: inline-block;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.11111;
    max-width: 25%;
    text-align: left;
    margin-left: 10px;
}

.panel-projekt-name {
    display: inline-block;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.3;
    width: 55%;
    vertical-align: top;
}

.panel-projekt-money {
    display: inline-block;
    width: 10%;
    text-align: right;
}

.panel-projekt-money:after {
    content: "\00a0€";
}

.profiling-source {
    font-size: 65%;
    padding-left: 5px;
}

.profiling-names {

}

.profiling-output {
    position: fixed;
    background-color: white;
    top: calc(100% - 50px);
    left: 10px;
    z-index: 10;
}

.profiling-output:hover {
    position: fixed;
    bottom: 0;
    top: inherit;
    max-height: 35%;
    overflow-y: auto;
}

.fa-angle-toggle::before {
    content: "\f106";
}

.profiling-output:hover .fa-angle-toggle::before {
    content: "\f107";
}

.container.main {
    padding-left: 20%;
}

/* Profile sidebar */
.profile-sidebar {
    position: fixed;
    margin-top: 0px;
    margin-left: 10px;
    max-width: 275px;
    min-width: 15%;
    z-index: 1000;

}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 500;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

ul.nav-pills.nav-stacked > li.label-info {
    display: block;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
}
/* hhp code */
.money {
    text-align: right;
}

tbody > tr > td.money::after {
    content: "\00a0€";
}

tbody > tr > td.money {

}

tbody > tr > td.money.table-sum-hhpgroup::before {
    content: "Σ ";
}

tbody > tr > td.money.table-sum-hhpgroup {
    font-weight: bold;
}

.hhp-danger {
    color: red;
}

.hhp-warning {
    color: orange;
}

a.link-anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.text-color__black {
    color: #333 !important; /* bootstrap normal font color */
}

.text-color__primary {
    color: #337AB7 !important;
}

.text-color__secondary {
    color: grey !important;
}

.text-color__danger-dark {
    color: #c9302c;
}

.text-color__danger {
    color: #d9534f !important;
}

.text-bold {
    font-weight: bold;
}

tr.booking__canceled-row {
    opacity: 0.5;
    color: grey;
}

tr.booking__canceled-row > td {
    color: grey;
}

tr.booking__canceled-row > td.text-color__primary {
    color: grey !important;
}

.fa.fa-fw {
    display: inline;
}

.text-color__green {
    color: green;
}

textarea {
    min-width: 100%;
    max-width: 100%;
}

button.btn.btn-arrow-left {
    padding-left: 17px;
    padding-right: 17px;
}

.btn.btn-arrow-left:before {
    content: "";
    position: absolute;
    transform: translateY(-2px) translateX(-6px) translateX(-100%) rotate(45deg);
    width: 24px;
    height: 24px;
    background: #f5f5f5;
    /*border-bottom-color: inherit;
    border-left-color: inherit;
    border-left-color: transparent;
    border-bottom-color: transparent;*/
    border-radius: 0 4px 0 0;
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;

}

.btn.btn-arrow-left:after {
    content: "";
    position: absolute;
    transform: translateY(-2px) translateX(+3px) rotate(45deg);
    width: 24px;
    height: 24px;
    background: inherit;
    /*border-bottom-color: inherit;
    border-left-color: inherit;
    border-left-color: transparent;
    border-bottom-color: transparent;*/
    border-radius: 0 4px 0 0;
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;

}
.row-striped:nth-of-type(odd){
  /* background-color: #efefef; */
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
}
/* --------- beleg container --------- */
.beleg-table {
	counter-reset: beleg-counter;
}
.beleg-table .beleg-container {
	counter-increment: beleg-counter;
}
.beleg-table .beleg-container .beleg-nr::before {
	content: 'B';
	display: inline;
}
.beleg-table .beleg-container .beleg-idx::before {
	 content: counter(beleg-counter);
}
.beleg-table .beleg-template {
	display: none;
}
.beleg-table .posten-headline {
	counter-reset: posten-counter;
}
.beleg-table .posten-entry {
	counter-increment: posten-counter;
}
.beleg-table .posten-entry .posten-counter a {
	cursor: pointer;
}
.beleg-table .posten-entry .posten-counter::before {
	content: counter(posten-counter) ".";
	display: inline-block;
	padding: 0 5px 0 0;
}
.beleg-table .posten-entry-new {
	border-top: 2px dashed #ddd;
	padding-top: 5px;
	margin-top: -10px;
	margin-bottom: 0px;
}
.beleg-table .posten-entry .posten-in .vali-error-msg,
.beleg-table .posten-entry .posten-out .vali-error-msg {
	display: table-row;
}
.auslagen-links {
	position: fixed;
	right: 0;
	width: 17%;
	top: 200px;
}
.auslagen-links .btn{
	width: 100%;
	max-width: 200px;
}
@media (max-width: 991px) {
	.auslagen-links {
		right: inherit;
		left: 0;
		top: 500px;
	}
}
@media (max-width: 700px) {
	.auslagen-links {
		right: inherit;
		left: inherit;
		top: inherit;
		position: relative;
		width: 100%;
	}
}
@media (max-width: 700px), (max-height: 580px) {
	.auslagen-links {
		right: inherit;
		left: inherit;
		top: inherit;
		position: relative;
		width: 100%;
	}
}
.textarea_readonly {
    white-space: pre-wrap;
}
.bt-dark {
	border-top: 2px solid #777;
}
.has-feedback .form-control {
    padding: 6px 12px;
}
/* --------- SPINNING FONT AWESOME----------*/
.multifa {
  font-size: 14px;
  position:relative;
  width: 56px;
  height: 56px;
}
.multifa.center {
	margin: 0 auto;
	left: 0;
	right:0;
}
.multifa > span.fa {
  font-size: 56px;
  display: block;
  width: 56px;
  height: 56px;
  line-height: 56px;
  text-align: center;
}
.multifa > span.fa:last-child {
  position:absolute;
  top: 25px;
  left: 37px;
}
.sym-spin {
  -webkit-animation: spin 5s infinite linear;
  -moz-animation: spin 5s infinite linear;
  -o-animation: spin 5s infinite linear;
  animation: spin 5s infinite linear;
}
.sym-spin-reverse {
  -webkit-animation: spin 5s infinite linear reverse;
  -moz-animation: spin 5s infinite linear reverse;
  -o-animation: spin 5s infinite linear reverse;
  animation: spin 5s infinite linear reverse;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* ------- SPINNER ---------------------- */
/*-- https://github.com/tobiasahlin/SpinKit ---*/
.planespinner {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 10px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
/* -------- fileview -------- */
#server-file-dlg{
	padding: 5px;
	position: fixed;
	height: 100%;
	width: 100%;
}
#server-file-dlg .modal-dialog{
	position: relative;
	width: 100%;
	height: 90%;
	height: calc(100% - 60px);
}
#server-file-dlg .modal-dialog .modal-content{
	position: relative;
	width: 100%;
	height: 100%;
}
#server-file-dlg .modal-dialog .modal-content{
	position: relative;
	width: 100%;
	height: 100%;
}
#server-file-dlg .modal-dialog .modal-content .modal-body{
	position: relative;
	height: 100%;
	height: calc(100% - 57px);
	padding: 0;
}
#server-file-dlg .modal-dialog .modal-content .modal-body .js-content,
#server-file-dlg .modal-dialog .modal-content .modal-body .js-content > *{
	width: 100%;
	height: 100%;
}